@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-ExtraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../Assets/font/Montserrat-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../Assets/font/Montserrat-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../Assets/font/Montserrat-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../Assets/font/Montserrat-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../Assets/font/Montserrat-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-ExtraBoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../Assets/font/Montserrat-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

html,
body {
    height: 100%;
}

body {
    min-height: 100vh;
    background: linear-gradient(0, #650082 0%, #9000B9 50%, #650082 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

:root {
    --cor-primaria: #650082;
    --cor-hover: #e5e5e5;
    --cor-secundaria: #ffffff;
    --cor-laranja: #FE791A;
    --purple-750: #773789;
    --purple-800: #47005B;
    --red-700: #A90003;
    --red-800: #660002;
}

header {
    background-color: var(--cor-secundaria);
    color: rgb(0, 0, 0);
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    height: 60px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: right;
}

#nome {
    margin-right: 25px;
    display: flex;
    gap: 16px;
    align-items: center;
}

#nome>p {
    font-size: 18px;
}

aside {
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    /* gruda na tela */
    top: 0;
    /* começa no topo */
    left: 0;
    /* fica à esquerda */
    width: 15vw;
    min-width: 160px;
    height: 100vh;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    background-color: var(--cor-secundaria);
    z-index: 2;
}

.linksServlet {
    display: flex;
    flex-direction: column;
    gap: 0;
}

#logo {
    width: 12vw;
    min-width: 120px;
}

.text {
    border-top: solid 2.2px;
    border-color: rgba(0, 0, 0, 0.5);
    padding: 15px 0;
    text-align: center;
    font-size: 21px;
}

.text:hover {
    background-color: var(--cor-hover);
}

#atual {
    font-weight: 700;
}

.func {
    border-bottom: solid 2.2px;
    border-color: rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
    color: var(--cor-primaria);
}

main {
    margin-left: 22vw;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4vh;
}

#title {
    font-size: 30px;
    font-weight: 600;
    color: white;
}

#secao-dados {
    width: 72vw;
    height: 70vh;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.dados {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    border-radius: 10px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    max-width: 300px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    height: 200px;
}

.dados>h2 {
    color: var(--cor-laranja);
    text-align: center;
    font-size: 30px;
    width: 100%;
    margin: 0;
}

.dados>div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    width: 100%;
}

.dados p {
    font-size: 28px;
    text-align: center;
    width: 100%;
    margin: 0;
}

#topo {
    width: 70vw;
    height: 80px;
    border-radius: 20px;
    background-color: var(--cor-secundaria);
    box-shadow: 0px 4px 8.4px 1px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#topo>form {
    display: flex;
    height: 100%;
    gap: 16px;
}

select:focus {
    border-radius: 20px;
}

.input-select {
    position: relative;
    width: 10vw;
    min-width: 120px;
    height: 40px;
    z-index: 1;
}

.input-select input {
    width: 100%;
    background: transparent;
    color: black;
    border: solid var(--cor-primaria) 2.4px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
}

.input-select input:focus {
    outline: none;
}

.input-select.active input {
    border-top: solid var(--cor-primaria) 2.4px;
    border-left: solid var(--cor-primaria) 2.4px;
    border-right: solid var(--cor-primaria) 2.4px;
    border-bottom: solid var(--cor-primaria) 0.4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.options {
    position: absolute;
    left: 0;
    right: 0;
    background: white;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.options.show {
    max-height: 300px;
    opacity: 1;
    overflow-y: auto;
}

.options span {
    font-family: inherit;
    font-size: inherit;
    display: block;
    width: 100%;
    color: black;
    background: #ffffff;
    padding: 8px;
    cursor: pointer;
    text-align: center;
    border-left: solid var(--cor-primaria) 2.4px;
    border-right: solid var(--cor-primaria) 2.4px;
    border-bottom: solid var(--cor-primaria) 0.4px;
}

.options span:hover {
    background-color: var(--cor-hover);
}

.options span:last-child {
    border-bottom: solid var(--cor-primaria) 2.4px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.inputs {
    border: 3px solid var(--purple-800);
    background-color: white;
    transition: all 0.3s ease;
    caret-color: #834096;
    min-width: 235px;
}

.inputs:hover {
    border-color: var(--purple-800);
    background-color: white;
}

.inputs:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: var(--purple-800);
}

.inputs-erro:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: var(--red-800);
}

.inputs:focus {
    outline: none;
    border-color: var(--purple-750);
    background-color: white;
}

.floating-label {
    display: flex;
    position: relative;
}

.floating-label input.inputs::placeholder {
    color: transparent;
}

.floating-label label {
    position: absolute;
    top: 10px;
    left: 8px;
    color: #46005A;
    background-color: white;
    pointer-events: none;
    background-color: transparent;
    transition: all 0.3s ease;
}

.floating-label input:focus+label,
.floating-label input:not(:placeholder-shown)+label {
    color: #46005A;
    background-color: white;
}

.inputs-erro {
    border: 3px solid #660002;
    background-color: white;
    transition: all 0.3s ease;
    caret-color: var(--red-700);
    color: var(--red-800);
}

.inputs-erro:hover {
    border-color: var(--red-800);
    background-color: white;
}

.inputs-erro:focus {
    outline: none;
    border-color: var(--red-700);
    background-color: white;
}

.inputs-erro:focus+.erro {
    background-color: white;
    color: var(--red-700);
}

.floating-label-erro {
    display: flex;
    position: relative;
}

.floating-label-erro input.inputs::placeholder {
    color: transparent;
}

.floating-label-erro label {
    position: absolute;
    top: 10px;
    left: 8px;
    color: var(--red-800);
    pointer-events: none;
    background-color: transparent;
    transition: all 0.3s ease;
    background-color: white;
}

.erro {
    position: absolute;
    top: 30px;
    left: 8px;
    font-size: 14px;
    background-color: white;
    color: var(--red-800);
    padding: 0 5px;
}

#filtroBottom {
    border-bottom: solid var(--cor-primaria) 2.4px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#search {
    border: solid var(--cor-primaria);
    font-size: inherit;
    border-radius: 10px;
    padding: 7px;
}

.botaoPrimario {
    border: none;
    border-radius: 10px;
    color: aliceblue;
    font-weight: 550;
    background-color: var(--cor-primaria);
    padding: 8px;
    height: 37px;
    min-width: 100px;
}

.botaoPrimario:hover {
    cursor: pointer;
    background-color: color-mix(in srgb, var(--cor-primaria) 80%, white);
}

.botaoSecundario {
    cursor: pointer;
    border: solid var(--cor-primaria) 2.4px;
    border-radius: 10px;
    color: var(--cor-primaria);
    font-weight: 550;
    background-color: var(--cor-secundaria);
    height: 37px;
    min-width: 100px;
}

.botaoSecundario:hover {
    background-color: color-mix(in srgb, var(--cor-secundaria) 90%, black);
}

a>div {
    color: var(--cor-primaria);
}

form:not[id="filtro"] {
    margin: auto;
}

.confirmarDelecao {
    width: 30vw;
    display: table;
}

.confirmarDelecao tr {
    display: table-row;
}

.confirmarDelecao>thead {
    display: table-header-group;
}

.confirmarDelecao>tbody {
    display: table-row-group;
}

table {
    border-collapse: collapse;
    width: 70vw;
    background-color: var(--cor-secundaria);
    border-radius: 20px;
    box-shadow: 0px 4px 8.4px 1px rgba(0, 0, 0, 0.4);
    display: grid;
    grid-template-columns: repeat(var(--cols, 6), 1fr);
}

thead,
tbody {
    display: contents;
}

tr {
    display: contents;
}

th,
td {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    padding: 15px 8px;
}

tbody td {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

#footer {
    width: 70vw;
    bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pages {
    display: flex;
    background-color: var(--cor-secundaria);
    border-radius: 10px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    gap: 7px;
    padding: 7px;
    align-items: center;
}

#pages>a {
    display: flex;
    align-items: center;
}

#num {
    border-radius: 5px;
    padding: 3px;
    border: solid var(--cor-primaria);
    font-weight: bold;
    color: var(--cor-primaria);
    text-align: center;
    align-items: center;
}

svg {
    margin: auto;
    cursor: pointer;
}

.alterar {
    width: 35px;
    height: 25px;
    margin-right: -7px;
}

.alterar:hover {
    filter: brightness(70%);
}

@media (min-width: 500px){
    .inputs {
        width: 20vw;
        padding: 15px;
        font-size: 1em;
        border-radius: 10px;
    }

    .floating-label {
        position: relative;
    }

    .floating-label label {
        font-size: 1em;
    }

    .floating-label input:focus+label,
    .floating-label input:not(:placeholder-shown)+label {
        top: -10px;
        left: 8px;
        padding: 0 5px;
    }

    .inputs-erro {
        width: 100%;
        padding: 15px;
        height: 40px;
        font-size: 1em;
        border-radius: 10px;
    }

    .floating-label-erro {
        position: relative;
    }

    .floating-label-erro label {
        font-size: 1em;
    }

    .floating-label-erro input:focus+label,
    .floating-label-erro input:not(:placeholder-shown)+label {
        top: -10px;
        left: 8px;
        padding: 0 5px;
    }
}

#center {
    background-color: #f5f5ff;
    padding: 40px 30px;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    width: 70%;
    max-width: 600px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

#center form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#center input {
    position: relative;
    width: 100%;
    padding: 16px 12px;
    border: 2px solid #650082;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    background-color: white;
}

#center input::placeholder {
    color: #650082;
    transition: all 0.3s ease;
}

#center input:focus::placeholder,
#center input:not(:placeholder-shown)::placeholder {
    transform: translateY(-24px);
    font-size: 13px;
    color: #47005B;
}

#center p {
    color: #A90003;
    font-size: 14px;
    margin: 5px 0 0 0;
}

#center .botaoPrimario {
    background-color: #650082;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
}

#center .botaoPrimario:hover {
    background-color: #47005B;
}


#center .botaoSecundario {
    background-color: white;
    color: #650082;
    border: 2px solid #650082;
    padding: 12px 25px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#center .botaoSecundario:hover {
    background-color: #f0e5ff;
}

#center #title{
    color: var(--purple-800);
    font-size: 30px;
}