@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    top: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    background: linear-gradient(90deg, #46005A, #650082);
    background-color: #46005A;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    background-color: rgba(255, 255, 255, 0.944);
    height: 70px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    width: 80%;
    z-index: 1;
    border-radius: 15px;
    padding: 30px;
}

.fundo-invertido {
    background: linear-gradient(to right, #650082, #46005A);
}

.botaoTerciario:hover {
    color: #834096;
}

.botaoSecundario:hover {
    background-color: #2d2d2d29;
}

.botaoPrimario:hover {
    background-color: #25072e;
}

.botaoPrimariob:hover {
    background-color: #cfcfcf;
}

a {
    text-decoration: none;
    color: #46005A;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 17px;
}

@media(min-width:1001px) {
    .celular-tablet {
        display: none;
    }

    header {
        min-width: 900px;
    }

    .logo {
        width: 20vw;
        max-width: 150px;
    }


    nav {
        width: 60vw;
        min-width: 650px;
    }

    ul {
        display: flex;
        list-style-type: none;
        flex-direction: row;
        width: 60vw;
        min-width: 650px;
        justify-content: space-between;
    }

    .ativo {
        display: flex;
        min-width: 120px;
        width: 10vw;
        justify-content: center;
        height: 40px;
        align-items: center;
        border-radius: 10px;
        cursor: default;
    }

    .ativo>a {
        border-bottom: 3px solid #46005A;
        cursor: default;
    }

    .botaoTerciario {
        display: flex;
        min-width: 120px;
        width: 10vw;
        justify-content: center;
        height: 40px;
        align-items: center;
        border-radius: 10px;
    }

    .botaoSecundario {
        display: flex;
        min-width: 120px;
        width: 10vw;
        border: 3px solid #46005A;
        justify-content: center;
        height: 40px;
        align-items: center;
        border-radius: 10px;
    }

    .botaoPrimario {
        display: flex;
        min-width: 120px;
        width: 10vw;
        background-color: #46005A;
        color: white;
        justify-content: center;
        height: 40px;
        align-items: center;
        border-radius: 10px;
    }

    .botaoPrimariob {
        display: flex;
        min-width: 120px;
        width: 10vw;
        background-color: white;
        color: #46005A;
        justify-content: center;
        height: 40px;
        align-items: center;
        border-radius: 10px;
    }
}

@media (min-width:0px) and (max-width: 1000px) {
    .pc {
        display: none;
    }

    header {
        width: 90%;
    }

    .logo {
        width: 20vw;
        min-width: 100px;
        z-index: 1;
    }

    .icone{
        z-index: 1;
    }

    input {
        display: none;
    }

    nav {
        z-index: 0;
    }

    .menu-dropdown {
        margin: auto;
        width: 50px;
        display: flex;
        flex-direction: column;
        height: 40px;
        justify-content: space-between;
        position: relative;
        cursor: pointer;
    }

    .menu-dropdown>.icone {
        width: 50px;
        display: flex;
        flex-direction: column;
        height: 40px;
        justify-content: space-between;
    }

    .menu-dropdown>.icone>div {
        width: 100%;
        background-color: #46005A;
        height: 5px;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    #menuToggle:checked+label.menu-dropdown .submenu {
        opacity: 1;
        visibility: visible;
        animation: aumentarY 1.5s;
    }

    #menuToggle:not(:checked)+label.menu-dropdown .submenu {
        opacity: 1;
        visibility: visible;
        animation: diminuirY 1.5s forwards;
    }

    #menuToggle:checked+label.menu-dropdown .icone>.nada {
        display: none;
    }

    #menuToggle:checked+label.menu-dropdown .icone>.x1 {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%) rotate(45deg);
    }

    #menuToggle:checked+label.menu-dropdown .icone>.x2 {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%) rotate(-45deg);
    }

    .menu-dropdown>.icone>.nada {
        display: block;
    }

    .submenu {
        background-color: rgba(255, 255, 255, 0.467);
        width: 105%;
        position: fixed;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        visibility: hidden;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 30px;
        height: 465px;
        z-index: 0;
    }


    .links {
        list-style-type: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
    }

    .ativo {
        display: flex;
        min-width: 200px;
        width: 70vw;
        justify-content: center;
        height: 50px;
        align-items: center;
        border-radius: 10px;
        cursor: default;
    }

    .ativo>a {
        border-bottom: 3px solid #46005A;
        cursor: default;
    }

    .botaoTerciario {
        display: flex;
        min-width: 200px;
        width: 70vw;
        justify-content: center;
        height: 50px;
        align-items: center;
        border-radius: 10px;
    }

    .botaoSecundario {
        display: flex;
        min-width: 200px;
        width: 70vw;
        border: 3px solid #46005A;
        justify-content: center;
        height: 50px;
        align-items: center;
        border-radius: 10px;
    }

    .botaoPrimario {
        display: flex;
        min-width: 200px;
        width: 70vw;
        background-color: #46005A;
        color: white;
        justify-content: center;
        height: 50px;
        align-items: center;
        border-radius: 10px;
    }

    .botaoPrimariob {
        display: flex;
        min-width: 200px;
        width: 70vw;
        background-color: white;
        color: #46005A;
        justify-content: center;
        height: 50px;
        align-items: center;
        border-radius: 10px;
    }

    .submenu .links li {
        opacity: 0;
        transform: translateY(15px);
        animation: subirSuave 0.4s ease forwards;
    }

    /* Estado inicial das opções (ocultas e deslocadas) */
    .submenu .links li {
        opacity: 0;
        transform: translateX(-20px);
    }

    /* Quando o menu abre, anima cada item da esquerda para a direita */
    #menuToggle:checked+label.menu-dropdown .submenu .links li {
        animation: entrarEsquerda 0.4s ease forwards;
    }

    /* Animação */
    @keyframes entrarEsquerda {
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    /* Efeito cascata com delays progressivos */
    #menuToggle:checked+label.menu-dropdown .submenu .links li:nth-child(1) {
        animation-delay: 0.2s;
    }

    #menuToggle:checked+label.menu-dropdown .submenu .links li:nth-child(2) {
        animation-delay: 0.4s;
    }

    #menuToggle:checked+label.menu-dropdown .submenu .links li:nth-child(3) {
        animation-delay: 0.6s;
    }

    #menuToggle:checked+label.menu-dropdown .submenu .links li:nth-child(4) {
        animation-delay: 0.8s;
    }

    #menuToggle:checked+label.menu-dropdown .submenu .links li:nth-child(5) {
        animation-delay: 1s;
    }
}

@keyframes aumentarY {
    0% {
        height: 60px;
    }

    100% {
        height: 465px;
    }
}

@keyframes diminuirY {
    0% {
        height: 465px;
        visibility: collapse;
    }

    100% {
        height: 60px;
        opacity: 0;
    }
}