@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    top: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    background: linear-gradient(to right, #46005A, #650082);
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    background-color: white;
    height: 90px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

article>h2 {
    margin: auto;
    font-family: 'Montserrat';
    color: white;
}

article {
    width: 40vw;
    min-width: 320px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
}

form{
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: auto;
}

h2 {
    font-family: "Montserrat";
    font-weight: normal;
}

input{
    display: none;
}

button {
    background-color: white;
    color: #46005A;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    height: 5vw;
    max-height: 55px;
    border: none;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 8px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

label{
    cursor: pointer;
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: bold;
}

button:hover {
    background-color: #bfbfbf;
}

button:active {
    background-color: #a8a8a8;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transform: scale(0.98);
}

@media(min-width:450px) {
    .celular {
        display: none;
    }

    header {
        padding: 30px;
    }

    header>h1 {
        height: 90px;
        display: flex;
        align-items: center;
        width: 40vw;
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 2.6vw;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: #46005A
    }

    main {
        margin-top: 50px;
    }

    h2 {
        text-align: center;
    }
}